{% extends 'fl_dashboard/base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

<!-- Page-level custom styles -->
{% block styles %}
    <link href="{% static 'fl_dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            {# Brand #}
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard:home' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'fl_dashboard/img/logo-white.png' %}"/>
                </div>
                <div class="sidebar-brand-text mx-3">FlowLess</div>
            </a>
            <hr class="sidebar-divider my-0">

            {# Dashboard link #}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            {# Reports #}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports">
                    <i class="fas fa-fw fa-chart-bar"></i><span>Reports</span>
                </a>
                <div id="collapseReports" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'dashboard:reports_overview' %}">Overview Reports</a>
                        <a class="collapse-item" href="{% url 'dashboard:daily_reports' %}">Daily Reports</a>
                        <a class="collapse-item" href="{% url 'dashboard:monthly_reports' %}">Monthly Reports</a>
                        <a class="collapse-item" href="{% url 'dashboard:detected-anomalies-report' %}">Anomalies Report</a>
                    </div>
                </div>
            </li>

            {# Alerts #}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:alerts' %}">
                    <i class="fas fa-fw fa-exclamation"></i>
                    <span>Alerts</span>
                </a>
            </li>

            {# Billing #}
            {% comment %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-money-check-alt"></i>
                    <span style="text-decoration: line-through">Billing</span>
                </a>
            </li>
            {% endcomment %}

            {# Meters #}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMeters">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Flow Meters</span>
                </a>
                <div id="collapseMeters" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'dashboard:meters_list' %}">Meters List</a>
                            <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Pulses:</h6>
                        <a class="collapse-item" href="{% url 'dashboard:bulk_consumption' %}">Latest Bulk</a>
                        <a class="collapse-item" href="{% url 'dashboard:detailed_consumption' %}">Latest Customer</a>
                        <a class="collapse-item" href="{% url 'dashboard:flow_pulses_history' %}">History</a>
                    </div>
                </div>
            </li>

            {# Pressure Transmitters #}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePressure">
                    <i class="fas fa-fw fa-compress-arrows-alt"></i>
                    <span>Pressure Sensors</span>
                </a>
                <div id="collapsePressure" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'dashboard:pressure_transmitters_list' %}">Sensors List</a>
                            <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Pulses:</h6>
                        <a class="collapse-item" href="{% url 'dashboard:pressure_readings' %}">Latest</a>
                        <a class="collapse-item" href="{% url 'dashboard:pressure_pulses_history' %}">History</a>
                    </div>
                </div>
            </li>


            {# Settings #}
            {% comment %}
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span style="text-decoration: line-through">Settings</span>
                </a>
            </li>
            {% endcomment %}

            {# Sidebar toggle #}
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Title -->
                    <h1 class="h3 mb-0 text-gray-800">
                        {% block content-title %}{% endblock %}
                    </h1>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        {% comment %}<!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                                             alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                                             alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would
                                            you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                                             alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the
                                            progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told
                                            me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        {% endcomment %}

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.is_authenticated %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_short_name|default:'User' }}</span>
                                {% else %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                {% comment %} DECISION: do we need a settings page?
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Settings
                                </a> {% endcomment %}

                                {% comment %} TODO: add user activity log page
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                {% endcomment %}

                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Page Content -->
                <div class="container-fluid">
                    {% block content %}
                        <p>@ dashboard\base.html</p>
                    {% endblock %}
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Flowless 2019</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {# block.super should only have script tags #}
    {{ block.super }}
    {% block scripts %}
        <script src="{% static 'fl_dashboard/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'fl_dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'fl_dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'fl_dashboard/js/my-setup.js' %}"></script>
        <script src="{% static 'fl_dashboard/js/sb-admin-2.min.js' %}"></script>
        <script src="{% static 'fl_dashboard/js/helper.js' %}"></script>
    {% endblock scripts %}
    </body>
{% endblock body %}
