{% extends 'fl_dashboard/dashboard/base.html' %}
{% load staticfiles %}

{% block title %}Meters{% endblock title %}

{% block content-title %}All Meters{% endblock %}

{% block content %}
<!-- Datatable -->
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Meters List</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" style="width: 100%;">

        <thead>
          <tr role="row">
            <th class="sorting_asc">Meter Key</th>
            <th class="sorting_asc">Meter Serial</th>
            <th class="sorting_asc">Customer</th>
            <th class="sorting_asc">Manufacturer</th>
            <th class="sorting_asc">Model Number</th>
            <th class="sorting_asc">Bulk Meter</th>
            <th class="sorting_asc">OP Status</th>
            <th class="sorting_asc">Installation Date</th>
            <th class="sorting_asc">Location</th>
          </tr>
        </thead>

        <tbody></tbody>

      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'fl_dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'fl_dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $('#dataTable').DataTable({
            'ajax': {
                url: '/api/meters-list?format=json',
                method: "GET",
            },
            columns: [
                { data: "meter_key" },
                { data: "meter_serial" },
                { data: "customer_name" },
                { data: "manufacturer" },
                { data: "model_number" },
                { data: "is_bulk" },
                { data: "op_status" },
                { data: "installation_date" },
                { data: "location" },
            ]
        })
    </script>
{% endblock %}