{% extends 'fl_dashboard/registration/base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Log In</h1>
                    </div>
                    <form class="user" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control form-control-user" id="exampleInputEmail"
                                   name="{{ form.username.name }}" placeholder="Enter Email Address...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                                   placeholder="Password" name="{{ form.password.name }}">
                        </div>
                        {% comment %}
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                            </div>
                        </div>
                        {% endcomment %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
